<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">School Home Page</p>
  <hr class="my-4" />
  <p>Select the page you wanna visit</p>
  <p class="lead">
    {{#if isAdmin}}
      <a
        class="btn btn-primary btn-lg"
        href="/students"
        role="button"
      >Students</a>
      <a
        class="btn btn-primary btn-lg"
        href="/teachers"
        role="button"
      >Teachers</a>
      <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
    {{else}}
      <a
        class="btn btn-primary btn-lg"
        href="/admin-login"
        role="button"
      >Login</a>
    {{/if}}
  </p>
</div>